:root {
  /* Color Palette*/
  --main-color-white: rgba(255, 255, 255, 1);
  --main-color-grey-light: rgba(141, 141, 141, 1);
  --main-color-grey: rgba(102, 102, 102, 1);
  --main-color-grey-dark: rgba(37, 37, 37, 1);
  --main-color-black: rgba(0, 0, 0, 1);

  --main-background-color-beige: rgba(247, 233, 214, 1);
  --main-color-sand: rgba(242, 197, 131, 1);
  --main-color-brown: rgba(194, 157, 115, 1);

  /* Fonts */
  --main-font-playfair-display: 'Playfair Display', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}
