@import './base.css';

/* <-- Fonts -->  */

/* Montserrat 400 700*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* Playfair Display 600*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/* Caveat */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

#app {
  margin: 0 auto;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1455px;
}

.main-category {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color-brown);
  text-transform: uppercase;
}

.main-title {
  margin-top: 25px;
  font-family: var(--main-font-playfair-display);
  font-size: 40px;
  color: var(--main-color-dark-grey)
}