@import './base.scss';

/* <-- Fonts -->  */

//Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
// Fira+Sans+Condensed
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400&display=swap');
// Playfair+Display
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
// Roboto+Condensed
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
// Rubik
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
// Fira+Sans+Condensed
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400&display=swap');

#app {
  margin: 0 auto;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1455px;
  z-index: 1;
}